<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <table>
          <%data_supplier.forEach(row => {%>
            <tr>
                <td><%=row.name%></td>
                <td><%=row.kota%></td>
                <td>
                <%for(var i = 0; i < row.Items.length; i++) {%>
                    <%=i+1%>: <%=row.Items[i].name%> @ <%=row.Items[i].SupplierItem.Price%>
                <%}%>
                </td>
                <td><a href ="supplier/<%=row.id%>/addItem">Assign Item</a></td>
                <td><a href ="supplier/edit/<%=row.id%>">Edit</a></td>
                <td><a href ="supplier/delete/<%=row.id%>">Delete</a></td>
            </tr>
          <%})%>
      </table>
    <a href="supplier/add">Add a Supplier</a>
    <a href="/">Home</a>
  </body>
</html>
